.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 150ms;
    .popup {
        margin: 90px auto;
        background-color: #2a2185;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
        h2 {
            height: 50px;
            text-align: center;
            padding-top: 25px;
            color: #fff;
        }
        .close {
            position: absolute;
            top: 5px;
            right: 15px;
            transition: all 200ms;
            font-size: 30px;
            &:hover {
                cursor: pointer;
                color: #000;
            }
        }
        .contentPopup {
            max-height: 30%;
        }
    }
}
@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}
